 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html,body{
    width: 100%;
    height: 100%;
    background:
        radial-gradient(
        circle at 30% 0%,
        rgba(9, 58, 101, 0.15),
        transparent 50%
        ),
        linear-gradient(
        135deg,
        #0b1c2f,
        #07111b 60%,
        #010407
        );

    color: white;
    font-family: sans-serif;
    align-items: center;
 }

 
 .main{
    width:100%;
    height:100%;
    padding-top: 35px;
    padding-bottom:35px;
    padding-left:50px;
    padding-right:50px;
    position: relative;
 }

 .canvas{
    width:100%;
    height:100%;
    padding: 2px;
    position: relative;
 }


 /* Navbar section CSS */
 .navbar_div{
    width: 100%;
    height: 15px;
    padding: 1px 5px 1px 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
 }

 .nav{
    width:100%;
    height:100%;
    font-size: 14px;
    letter-spacing: 1px;
    color:#a3c7ee;
    font-weight: 400;
    font-family: "Scoutie Sans", sans-serif;
    position: absolute;
 }


 /* Hero section CSS */
 .hero_div{
    width: 100%;
    height: 100px;
    position: relative;
 }

 .hero_section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    color:#a3c7ee;
    font-family: "Scoutie Sans", sans-serif;
    position: absolute;
}

.hero_text1{
    width: 40%;
    height: 100%;
    padding: 0px 12px 0px 0px;
    font-family: "Oswald", sans-serif;
    font-size: 70px;
    font-weight: 400;
    text-align: start;
    color: white;
    font-weight: 500;
}

/* middle section of hero */

.middle_section_of_hero{
    width:30%;
    height:100%;
    display:flex;
    justify-content:start;
    align-items:center;
    padding:5px 10px 5px 10px;
    font-size: 13px;
    color:rgb(133, 155, 175);
}

.middle_C1{
    width:50%;
    height:100%;
    padding: 10px 10px 5px 10px;
}

.C1_content{
    width:100%;
    height:100%;
    margin-top: 13px;
    line-height: 1.7;
    font-size: 12px;
}


.Line_items{
    margin: 7px 10px 0px 45px; 
    width: 0.6px;
    height: 75%;
    border: 0.5px solid #404e5d;
}


.middle_C2{
    width:50%;
    height:100%;
    padding: 6px 10px 5px 10px; 
    margin-top:13px;
    
}

.C2_content{
    width:100%;
    height:100%;
    font-size: 12px;
    margin-top: 7px;
}

/* rightmost section of hero` */

.rightmost_section_of_hero{
    width: 42%;
    height:100%;
    display:flex;
    justify-content:end;
    align-items:center;
    padding:10px 10px 2px 10px;
}

.button_div{
    width: 150px;
    height: 60%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border: 0.5px solid #23272c;
    border-radius:10px;
    padding: 2px;
    background:radial-gradient(circle at 50% 0%, rgba(24, 36, 50, 0.827));
    border:0.6px solid rgb(127, 127, 127);
    color:white;
}

.filter_button{
    width: 57%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 14px;
    letter-spacing: 1px;
    color:white;
    font-weight: 500;
    font-family: "Scoutie Sans", sans-serif;
}

.filter_logo{
    width:30%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 5px 3px 5px 3px;
}

.filter_logo img{
    width: 90%;
    height: 80%;
    object-fit: cover;
}

/* hero section CSS completed */

/* CARD Section CSS BEGINS */
.main_content_div{
    width: 100%;
    height: 1060px;
    margin-top:1px;
    padding-top: 5px;
    padding-bottom:2px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-content: center;
    padding: 0px 0px 1px 0px;
}

.First_div_of_mainContent{
    width:42%;
    height: 520px;
    background-color: #23272c;
    border-radius:20%;
    padding:1px;
}

.First_div_of_mainContent img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.carouselcards_r1{
    width:260px;
    height: 520px;
    border-radius:20px;
    background: linear-gradient( #c1d3f6  , #0d2642)

}

.carousel_content{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.carousel_content p{
    font-size: 13px;
    color:#90b0d3
}

.carousel_image{
width: 100%;
height: 74%;

}

.carousel_image img{
    width:100%;
    height: 100%;
    border-radius:15px 15px 0px 0px;
}
 
.carousel_content_div{
    width: 100%;
    height: 26%;
    padding:10px 25px 10px 25px;
}

.carousel_content_main{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-items:start;
    align-items:start;
    gap:10px;
    line-height: 20px;
}

.Name_of_product{

    width: 100%;
    height:25%;
}

.color_option_div{
    font-size:14px;
    width: 80%;
    height: 50%;
    display: flex;
    justify-items:center;
    align-items: center;
    justify-content: space-between;

}

.color_circle_div{
    width:15px;
    height: 15px;
    margin-left:2px;
    margin-right: 2px;
}
.color_option{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

.color_name{
    width: 50px;
   display: flex;
   justify-items: center;
   align-items: center;
   padding: 1px 5px 1px 3px;

}

.Price{
  font-size: 14px;
  color:#a3c7ee;
}
.carouselcards_r2{
    width:272px;
    height: 520px;
    border-radius:20px;
    background: linear-gradient( #c1d3f6 , #0d2642);
    margin-left:1px;
}


 


/* Before Footer Section */

.section2{
    margin-top:10px;
    width:100%;
    height: 100px;
    border-radius: 20px;
    background-color:#0b1c2f;
    border: 1px solid rgb(100, 99, 99) ;
    padding: 5px 10px 5px 10px;

}

.container{
    width:100%;
    height: 100%;
    display: flex;
    justify-items:center;
    align-items:center;
    justify-content: space-around;
    padding: 2px 10px 2px 10px;
}

.text_items{
    width:250px;
    height: 100%;
    padding:4px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.Symbol{
    width:35%;
    height: 90%;
    display: flex;
    align-items: center;
    padding:10px 3px 2px 3px;
}

.Symvol_description{
    width:65%;
    height: 100%;
    padding: 10px 6px 10px 6px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
    gap: 4px;
    
}

.Symvol_description b{
    font-size: 12px;
}

.Symvol_description p{
    font-size: 13px;
    color:#536e8a;
}
/* footer */
footer{
margin-top:15px;
 width:100%;
 height: 80px;
}

.footer{
    margin-left:35px;
    margin-right: 35px;
    width:95%;
    height: 95%;
    padding: 10px 20px 15px 20px;
    border-radius: 20px;
    background-color:#0b1c2f;
    border: 1px solid rgb(100, 99, 99) ;
}